<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Il Gambero Rosso</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="padding-left: 2%;">
          <a class="nav-link active" routerLink="">Home</a>
          <a class="nav-link active" routerLink="">About Us</a>
          <a class="nav-link active" routerLink="">Menu</a>
          <a class="nav-link active" routerLink="">Cart</a>
        </div>
      </div>
    </div>
  </nav>