
<div class="card" style="max-width: 18rem;">
    <img src="{{product.img}}" class="card-img-top" alt="Picture">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
    <ng-template [ngIf]="product.availability" [ngIfElse]="next">
      <p class="card-text"></p>
      </ng-template>
      <ng-template #next>
      <p class="card-text text-danger">Not available!</p>
      </ng-template>
      <ng-template #next>
        <p class="card-text text-danger">Not available!</p>
        </ng-template>
    <p class="card-text">Special Price: €{{product.price}}</p>
    <button (click)="placeOrder()" type="button" class="btn btn-success">Order</button>
  </div>
</div>