<div class="myheader">

<h1>Ristorante Il Gambero Rosso</h1>
<h2>Delivering delicious food since 18 years!</h2>

</div>

<div id="myContainer" class="container">

<div>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/22/21/restaurant-1837150_960_720.jpg" width="700px" height="500px" class="img1">
    <img src="https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvay0xNDUtcG9tLTkwMzguanBn.jpg" width="700px" height="500px" class="img2">
</div>

<div>
    <br>
    <br>
    <p>A family business in times of global corporations? <b>Yes, please</b> - if the result is such a sophisticated and exciting kitchen as in <i>Ristorante Il Gambero Rosso!</i></p>
    <br>
    <br>
    <p>In 1998 Francesco Rosso and his wife took a risk. They invested all the money they have saved and opend this restaurant. Both of them had no idea how to manage a restaurant, but they shared the same passion. Cooking!</p>
    <br>
    <br>
    <p>The location, for the later starred restaurant actually completely unsuitable. On the other hand, it is said that it is ideally located to give the hard-working Italians a quick treat on their way home with meals they all know.</p>
    <br>
    <br>
    <p>If you ask Francesco and Mary Rosso what they think about their decession today, they always give you the same answer "It was the best decession we've ever made and of course we would do it again!"</p>
    <br>
    <br>
    <p>But what makes this restaurant so special? Well, one main thing is the family! Francesco and Mary have two children, their son is working at the restaurant as a cook and their dauther studies business administration and will manage the restaurant when she finishes.</p>

</div>

</div>