

<div class="container">
    <h2>Our Specials</h2>

    <div class="row row-cols-3">

        <div class="card" style="width: 25rem;" 
        *ngFor="let menu of menus; index as id">
            <img src="{{menu.img}}" class="card-img-top" alt="Picture">
        <div class="card-body">
            <h5 class="card-title">{{menu.name}}</h5>
            <p class="card-text">Special Price: €{{menu.price}}</p>
            <ng-template [ngIf]="menu.availability" [ngIfElse]="next">
            <p class="card-text"></p>
            </ng-template>
            <ng-template #next>
            <p class="card-text text-danger">Not available!</p>
            </ng-template>
            <button (click)="placeOrder()" type="button" class="btn btn-success">Order</button>
            <button type="button" class="btn btn-info"><a routerLink="menus/{{id}}">Details</a></button>
        </div>
      </div>
    </div>
</div>




<!-- <ng-template [ngIf]="menu.description">
  <p class="card-text">{{menu.description}}</p>
</ng-template> -->