

<div class="container">
    <h2>Our Specials</h2>

    <div class="card-group" *ngFor="let menu of menus">

        <div class="card" style="max-width: 18rem;">
            <img src="{{menu.img}}" class="card-img-top" alt="Picture">
        <div class="card-body">
            <h5 class="card-title">{{menu.name}}</h5>

            <ng-template [ngIf]="menu.description">
            <p class="card-text">{{menu.description}}</p>
            </ng-template>
            
            <p class="card-text">Special Price: € {{menu.price}}</p>
            <a routerLink="" class="btn btn-success">Order</a>
          <a routerLink="" class="btn btn-info">Details</a>
        </div>
      </div>
    </div>
</div>
